{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@database": "./src/database",
          "@features": "./src/features",
          "@middlewares": "./src/middlewares"
        }
      }
    ]
  ]
}
